@use "functions" as *;
@use "variables" as *;

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: rem(20);
  padding: 0 rem(30) rem(100);
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: rem(125);
  padding: rem(10);
  border-radius: rem(20);
  background-color: var(--off-white);
  box-shadow: hsla(0, 0%, 0%, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease 0s;
  cursor: pointer;

  @media (min-width: 1500px) {
    width: rem(175);
  }

  &:hover {
    transform: scale(1.05);
  }

  p {
    margin: rem(10) auto;
    font-size: rem(20);
    font-weight: 700;
  }
}
