@use "functions" as *;
@use "variables" as *;

html {
  position: relative;
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  height: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--off-white);
}

#root {
  position: relative;
  height: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.rec {
  .rec-carousel-item {
    align-self: center;
  }

  .rec-arrow,
  .rec-arrow:hover,
  .rec-arrow:focus {
    color: var(--gray);
    background-color: var(--off-white);

    &:hover {
      background-color: var(--red);
    }

    &:active,
    &:focus {
      color: var(--gray);
      background-color: var(--off-white);
    }

    &:focus:not(:focus-visible) {
      &:hover {
        color: white;
        background-color: var(--red);
      }
    }
  }

  .rec-dot:hover,
  .rec-dot:focus,
  .rec-dot_active {
    background-color: var(--red);
    box-shadow: 0 0 1px 2px var(--gray);
  }
}
