@use "functions" as *;
@use "variables" as *;

.scoreboard {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: rem(30);
  margin: 0;

  .score {
    min-width: rem(175);
    padding: rem(8);
    color: var(--gray);
    font-size: rem(20);
    font-weight: 700;
    border-radius: rem(20);
    box-shadow: rgba(0, 0, 0, 0.35) 0 rem(5) rem(15);
    color: var(--gray);
  }

  .current-score {
    background-color: var(--light-red);
  }

  .best-score {
    background-color: var(--light-green);
  }
}
