@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

:root {
  // FONTS
  --font-main: "Nunito", sans-serif;
  //COLOURS
  --red: #ef0e3d;
  --gray: #383838;
  --off-white: #eeeeee;
  --light-red: #ffb5b5;
  --light-green: #b5ffb5;
}
